.my-container {
	background-image: url(chalkboard.jpg);
	background-color: #333333;
	width:100%;
	height:250px;
	padding-top: 30px;
}

.my-container h1{
	font-size: 80px;
	font-family: "Josefin Sans", sans-serif;
	font-weight:bold;
	text-align: center;
	color: white;
	margin-bottom:0px;
	padding-top: 10px;

}

.my-container h4{
	color: white;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	text-align: center;
}


hr{
	display: block;
	width: 500px;
	margin-top:0px;
}


.footer{
	width: 100%;
	height:40px;
}

.row{
	width:100%;
}

.row h3{
	font-family: "Josefin Sans", sans-serif;
	padding-left:20px;
	color: black;
}

.row .col-md-6{
	/*padding-left: 20px;
	padding-right: 30px;*/
}

.row .column-content{
	background-color: #FFFFFF;
	border-radius: 25px;
	padding-top: 20px;
	padding-left: 20px; /*This affects the text inside the bubble*/
	padding-right: 20px;
	padding-bottom: 10px;

	width:100%;

	margin-left: 20px; /*This affects the bubble itself*/
	font-weight: 200;
}

.row .table-content{
	background-color: #404040;
	border-radius: 25px;
	padding-top: 5px;
	padding-left: 20px; /*This affects the location of the table in the bubble*/
	padding-right: 20px;
	padding-bottom: 10px;
	border: 1px solid #CDCDCD;
	width:100%;
	margin-left: 20px;
}

body{
	background-color: #BEBEBE;
}

table{
	border-collapse:collapse;
	width: 100%;
	border-radius: 25px;
	background-color: rgba(112, 112, 112, 0.0);
	font-style: "Josefin Sans", sans-serif;
}


td{
	padding-left: 10px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid gray;

	/*border-left: 1px solid #CDCDCD;*/
	

	font-weight: 100;
	color:white;
	font-size:14px;
	/*text-align: center;*/
	letter-spacing: 1.7px;
}

td a{
	color:#E0FFFF;
}

td a:hover{
	color:#8FD8D8;
}

